@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e64980;
  color: #fff;
  font-family: 'Bebas Neue', cursive;
  /* overflow: hidden; */

}


/* Color Mode */
.color-mode-container {
  height: 5vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  width: 100%;

}

.color-mode {
  all: unset;
  font-size: 20px;
  cursor: pointer;
  margin: 0px 5px;
  padding: 5px;
}

/* Home  */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  justify-content: center;
  gap: 10px;
}

h1 {
  font-size: 100px;
  text-align: center;
}

label {
  font-size: 40px;
}

h1,
label {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

#name {
  all: unset;
  display: block;
  background-color: #82C91E;
  color: #fff;
  border: 2px solid #fff;
  cursor: auto;
  text-align: center;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
}

.name-button {
  width: 35%;
  height: 49px;
  margin: 0 auto;
  font-size: 28px;
  border: 3px solid #000;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
}

/* Hub  */
.hub {
  width: 90vw;
  height: 830px;
  display: grid;
  grid-template-columns: 350px 1fr 350px;
  grid-template-rows: 50px repeat(3, 1fr);
  grid-template-areas:
    "welcome welcome welcome"
    "noughts-and-crosses  . waka-topo"
    "memory-game . hang-man"
    "pokeapi . quiz-neo"
  ;
  margin: 0 auto;
  gap: 25px;
}

.welcome {
  letter-spacing: 5px;
  font-family: 'Roboto', sans-serif;
  grid-area: welcome;
  text-align: center;
  font-size: 30px;
}

.hub div {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: all 0.6s ease-in-out;
}

.hub div:hover {
  scale: 1.1;
  cursor: pointer;
}

.noughts-and-crosses {
  grid-area: noughts-and-crosses;
  background-color: #fab005;
}

.waka-topo {
  grid-area: waka-topo;
  background-color: #15aabf;
}

.memory-game {
  grid-area: memory-game;
  background-color: #82c91e;
}

.hang-man {
  grid-area: hang-man;
  background-color: #be4bdb;
}

.pokeapi {
  grid-area: pokeapi;
  background-color: #fa5252;
}

.quiz-neo {
  grid-area: quiz-neo;
  background-color: #fd7e14;
}